<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 align="center" style="padding:20px">Welcome to Event Admin Portal</h1>
  <p><br/></p>
  {% if ret_msg %}<p>{{ ret_msg }}</p>{% endif %}
  <form action="admin_login", method='post'>
    <div class="form-group row">
      <label for="inputUserName" class="col-sm-2 col-form-label">Username</label>
      <div class="col-sm-10">
        <input type="text" name="username" class="form-control" id="inputUserName" placeholder="User Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>

</body>
<footer class="footer">
  <div class="container" align="center">
    <p class="text-muted">© Copyright 2016-2017 Guanyu Wang, BEN Running Club</p>
  </div>
</footer>
</html>
