<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Welcome to Event Admin Portal</h2>
  <p><br/></p>
  <form class="form-horizontal">
    <div class="form-group">
    <button type = "submit" name = "week_idx" value = {{ 0 }} class = "btn btn-primary btn-lg">
      犇第二届猪蹄杯跑步活动 Season1
    </button>
    </div>
    <div class="form-group">
    <button type = "submit" name = "week_idx" value = {{ 0 }} class = "btn btn-primary btn-lg">
      犇第二届猪蹄杯跑步活动 Season2
    </button> 
    </div>
  </form>
</div>

</body>
</html>
