<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Stats</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron" id="page_header_1">
    <h1 id="ben_header"><img src="static/images/BEN.jpg" class="img-circle" width="120" height="120"/>&nbsp;&nbsp;BEN</h1>
    <p align="right" id="admin_login"><a href="admin_login" id="admin_login_link">Admin Login</a></p>
  </div>
</div>
<div class="container">
  <h2 align="center"><strong>{{ event_title.decode('utf-8') }}</strong></h1>
  <h4 align="center">{{ week_str }}</h4>
  <table class="table table-striped">
  <p align="right">
  <form action="event_stats" method="post">
   <p align="right">
   <input type="hidden" name = "event_id" value = "{{ event_id }}">
   <button type = "submit" name = "week_idx" value = {{ 0 }} class = "btn btn-primary btn-xs">
      First
   </button>
   &nbsp;
   <button type = "submit" name = "week_idx" value = {{ week_idx-1 }} class = "btn btn-primary btn-xs">
      Prev
   </button>
   &nbsp;
   <button type = "submit" name = "week_idx" value = {{ week_idx+1 }} class = "btn btn-primary btn-xs">
      Next
   </button>
   &nbsp;
   <button type = "submit" name = "week_idx" value = {{ last_week_idx }} class = "btn btn-primary btn-xs">
      Last
   </button>
   </input>
   </p>
  </form>
  <thead class="thead-inverse">
    <tr>
      <th>Participant</th>
      <th>MON</th><th>TUE</th><th>WED</th><th>THU</th><th>FRI</th><th>SAT</th><th>SUN</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>{% for x in weekly_data %} <tr>
      <th scope="row">{{ x['name'] }}</th>
      {% for i in range(7) %}<td>{{ x['workouts'][i] }}</td>{% endfor %}
      <td>{{ x['score'] }}</td>
      </tr>
  {% endfor %}</tbody>
  </table>

</div>
</body>
</html>
