<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>BEN Event Registration</h2>
  <p><br/></p>
  <form>
    <div class="form-group row">
      <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" name="first_name" class="form-control" id="inputFirstName" placeholder="First Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLastName" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="text" name="last_name" class="form-control" id="inputLastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail" class="col-xs-2 col-form-label">E-mail</label>
      <div class="col-xs-10">
         <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter your e-mail address same as the one in your Strava account">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
