<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Stats</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>BEN Event stats</h2>
  <p><br/></p>
  <p>
   <button type = "button" class = "btn btn-primary btn-xs">
      First
   </button>
   &nbsp;
   <button type = "button" class = "btn btn-primary btn-xs">
      Prev
   </button>
   &nbsp;
   <button type = "button" class = "btn btn-primary btn-xs">
      Next
   </button>
   &nbsp;
   <button type = "button" class = "btn btn-primary btn-xs">
      Last
   </button>
</p>
  <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Participant</th>
      <th>MON</th>
      <th>TUE</th>
      <th>WED</th>
      <th>THU</th>
      <th>FRI</th>
      <th>SAT</th>
      <th>SUN</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>{% for x in weekly_data %} <tr>
      <th scope="row">{{ x['name'] }}</th> {% for i in range(7) %}
        <td>{{ x['workouts'][i] }}</td>{% endfor %}
      <td>{{ x['score'] }}</td> 
      </tr> 
  {% endfor %}</tbody>
  </table>

</div>
</body>
</html>
