<!DOCTYPE html>
<html lang="en">
<head>
  <title>BEN Running Club Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1 align="center" style="padding:20px">Welcome to Event Admin Portal</h1>
  <h3 align="center">Hello, {{ session.get('admin_name') }}</h3><br>{% if events %}
  <form class="form-horizontal" action="events_admin" method="post">{% for e in events %}
    <div class="form-group" align="center">
    <button type = "submit" name = "event_id" value = "{{ e[0] }}" class = "btn btn-primary btn-lg" {{ e[4] }}>
    {{ e[1].decode('utf-8') }}
    </button>
    </div>{% endfor %}
  </form> {% else %}
  <p class="admin_section_header"><strong>Activities Pending Approval</strong></p>
  <table class="table table-striped">
  <form action="activity_approval" method="post">{% for a in pending_activities %}
    <div class="form-group" align="center">
    <tr>
      <input type="hidden" name = "activity_id" value = "{{ a }}" />
      <th><a href="https://www.strava.com/activities/{{ a }}">{{ a }}</a></td>
      <td>
        <button type = "submit" name = "approve" value = "yes" class = "btn btn-primary btn-md">
        Approve
        </button>
      </td>
      <td>
        <button type = "submit" name = "approve" value = "no" class = "btn btn-primary btn-md">
        Reject
        </button>
      </td>
    </div>{% endfor %}
  </form> 
  </table>
  </br>
  <p class="admin_section_header"><strong>Register Athlete</strong></p>
  {% if ret_msg %}<p>{{ ret_msg }}</p>{% endif %}
  <form action="event_register", method='post'>
    <div class="form-group row">
      <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
      <div class="col-sm-10">
        <input type="text" name="first_name" class="form-control" id="inputFirstName" placeholder="First Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
      <div class="col-sm-10">
        <input type="text" name="last_name" class="form-control" id="inputLastName" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail" class="col-xs-2 col-form-label">E-mail</label>
      <div class="col-xs-10">
         <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter your e-mail address same as the one in your Strava account">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>{% endif %}
</div>
</body>
<footer class="footer">
  <div class="container" align="center">
    <p class="text-muted">© Copyright 2016-2017 Guanyu Wang, BEN Running Club</p>
  </div>
</footer>
</html>
